<div id="game_rules">
	<h1>Dummy output</h1>
	<h3>Let's try this out </h3>
	<%= form_tag('/game_round', :method=>"get") do%>
		Put 'er there<%= text_field_tag("actor_name", nil, placeholder: "What are we doing here?") %>
		<%= submit_tag("Look up actor", :class => "btn")%>
		<%= submit_tag("See all actors", :class => "btn") %>
	<%end%>
</div>
